In [1]:
def test1():
    print("This is my very first fucntion in %%python")

In [2]:
test1()

This is my very first fucntion in python

In [3]:
a = 1

In [4]:
b =test1()

This is my very first fucntion in python

In [5]:
b

In [7]:
print(b)

None

In [8]:
c = "shaikh"

In [9]:
type(c)

str

In [10]:
type(b)

NoneType

In [11]:
type(test1())

This is my very first fucntion in python

NoneType

In [12]:
def test2():
    return 5

In [14]:
test2()

5

In [15]:
d = test2()

In [16]:
d

5

In [17]:
def test3():
    return 5

In [18]:
def test4():
    print("this is my print return")

In [19]:
test3()

5

In [20]:
test4()

this is my print return

In [21]:
def test3():
    return "Sharim"

In [23]:
test3() + "Shaikh"

'SharimShaikh'

In [24]:
def test5():
    print("this is my python code")

In [25]:
def test6():
    return 1,3,[3,4,5,"sharim"],(3,4,5,6)

In [26]:
test6()

(1, 3, [3, 4, 5, 'sharim'], (3, 4, 5, 6))

In [27]:
type(test6())

tuple

In [30]:
test6()[1]

3

In [32]:
test6()[2]

[3, 4, 5, 'sharim']

In [34]:
test6()[2][1]

4

In [36]:
def test7():
    return 1,3,[3,4,5,"sharim"],(3,4,5,6)

In [37]:
a,b,c,d  = test7()

In [38]:
a

1

In [39]:
b

3

In [40]:
c

[3, 4, 5, 'sharim']

In [42]:
d

(3, 4, 5, 6)

In [43]:
def test8():
    a = 4*5+8
    return a

In [44]:
test8()

28

In [45]:
type(test8())

int

In [49]:
l = [2,3,4,5,6,7,8,9]
a=0
for i in l:
    a = a + i
print(a)

44

In [50]:
def test9():
    l = [2,3,4,5,6,7,8,9]
    a = 0
    for i in l:
        a = a + i
    return a

In [51]:
test9()

44

In [56]:
def test10():
    l = [2,3,4,5,6,7,8,9,"Sharim"]
    a = 0
    for i in l:
        if type(i) == int:
            a = a + i
    return a

In [57]:
test10()

44

In [58]:
l1 = [4,5,6,7,7,8,"Shaikh",4.55]

In [59]:
def test11(l):
    a = 0
    for i in l:
        if type(i) == int:
            a = i+a
    return a

In [60]:
test11(l1)

37

In [61]:
 def test12(a,b):
        return a+b

In [62]:
test12(2,3)

5

In [63]:
test12("Sharim","Shaikh")

'SharimShaikh'

In [64]:
test12(a=8, b=5)

13

In [66]:
test12(b=12,a=3)

15

In [67]:
l = [3,4,5,6,7,8,"Sharim",5,6,7,"Shaikh","ineuron"]

In [82]:
def test13(l):
    """this is my function which will help you to seperate a string from list into a nw list """
    l1 = []
    for i in l:
        if type(i) == str:
            l1.append(i)
    return l1

In [85]:
test13(l)

['Sharim', 'Shaikh', 'ineuron']

In [91]:
a = "Sharim"
count=0;
for i in a:
    count += 1
return count

SyntaxError: 'return' outside function (475622434.py, line 5)