In [1]:
# iterable object -->  are those object that you can loop over string , tuple, list

# iterabe object

In [2]:
mytuple = ("Ineuron","Sharim","Code")

In [3]:
for i in mytuple:
    print(i)

Ineuron
Sharim
Code

In [5]:
type(mytuple)

tuple

In [6]:
dir(mytuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [7]:
mystr = "ineuron"

for i in mystr:
    print(i)

i
n
e
u
r
o
n

In [8]:
type(mystr)

str

In [9]:
d = {'x':43, 'y':3.14, 'z':7}

In [10]:
for k,v in d.items():
    print(k,v)

x 43
y 3.14
z 7

In [11]:
x = 42

In [12]:
for i in x:
    print(i)

TypeError: 'int' object is not iterable

# iterator Object

In [24]:
data = ["Ineuron","code","india"]

In [25]:
# next(data)  ----> it show list object is not an iterator

x = iter(data)

In [26]:
type(x)

list_iterator

In [27]:
next(x)   # if we run for 1st it give ineuron if we run for 2nd it give code and if we run 3rd time it give a india

'Ineuron'

In [28]:
m = "ineuron"

In [29]:
next(m)

TypeError: 'str' object is not an iterator

In [30]:
c = iter(m)

In [32]:
next(c)

'n'

In [33]:
dir(c)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

Iterables are not iterator

interator are also interables

calling iter() function on iterable give an iterator

calling next() function an iterator give next elements

In [53]:
l=[1,2,3,4]

In [54]:
next(l)

TypeError: 'list' object is not an iterator

In [55]:
k = iter(l)

In [50]:
type(k)

list_iterator

In [51]:
for i in k:
    print(i)

1
2
3
4

In [56]:
# OR
next(k)

1

# Generator

In [57]:
# Generator is other way of creating iteraor

In [58]:
def square(n):
    for i in range(n):
        return i ** 2

In [59]:
square(3)

0

In [60]:
def square(n):
    for i in range(n):
        yield i**2

In [61]:
k = square(3)

In [62]:
for i in k:
    print(i)

0
1
4

In [63]:
k = square(3)

In [64]:
type(k)

generator

In [67]:
next(k)

0

In [68]:
def gencube(n):
    l = []
    for i in range(n):
        l.append(i**3)
    return l

In [69]:
gencube(20)  # suppose in that we pass 300000 then it take lot of time to execute so the soluction is generator i.e yield

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

In [75]:
# to access instance data we can use generator --> yield
def gencube(n):
    for i in range(n):
        yield i ** 3

In [76]:
k = gencube(100)

In [77]:
k

In [78]:
next(k)

0

In [79]:
for i in k:
    print(i)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299

In [96]:
nums =[1,2,3]

In [97]:
i_nums = iter(nums)

In [94]:
while True:
    try:
        item = next(i_nums)
        print(item)
    except StopIteration:
        break

1
2
3

In [98]:
for i in i_nums:
    print(i)

1
2
3