In [1]:
class Car:
    pass

In [2]:
audi = Car()

In [3]:
audi.milage = 10
audi.year = 2006
audi.make = 345
audi.model = "abc"

In [4]:
audi.make

345

In [5]:
audi.year

2006

In [6]:
audi.milage

10

In [7]:
audi.model

'abc'

In [8]:
nano = Car()

In [9]:
nano.milage = 67
nano.year = 2007
nano.make = 58
nano.model = "xyz"

In [10]:
nano.make

58

In [11]:
nano.milage

67

In [12]:
nano.model

'xyz'

In [13]:
nano.year

2007

In [14]:
class Car:
    def __init__(self,milage,year,make,model):
                 self.milage = milage
                 self.year = year
                 self.make = make
                 self.model = model

In [15]:
nano1 = Car(10,2004,44,"abccc")
nano2 = Car(10,2004,44,"abccc")
nano3 = Car(10,2004,44,"abccc")
nano4 = Car(10,2004,44,"abccc")
nano5 = Car(10,2004,44,"abccc")
nano6 = Car(10,2004,44,"abccc")

In [16]:
class Car:
    def __init__(self,m,y,ma,mo):
        self.milage = m
        self.year = y
        self.make  = ma 
        self.model = mo 
     
    def age(self,current_year):
        return current_year-self.year
    
    def milage1(self):
        print("Print a milage of the car",self.milage)
    
    def __str__(self):   # used for memory instance if we call class name with the help of __str__ we can print some text
        return "this is from class i have created"

In [17]:
nano23=Car(10,2009,45,"adcdg")

In [18]:
nano23.age(2024)

15

In [19]:
nano23.milage1()

Print a milage of the car 10

In [20]:
print(nano23)    # memory instance

this is from class i have created

In [21]:
class Person:
    def __init__(self,first_name, last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    
    def __str__(self):
        return " this is the person class"

In [22]:
person = Person("Sharim","Shaikh",22)

In [23]:
print(person)

 this is the person class

In [24]:
person.first_name

'Sharim'

In [25]:
person.last_name

'Shaikh'

In [26]:
person.age

22

In [27]:
class Student:
    
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name = name
        self.rollno=rollno
        self.joining_date = joining_date
        self.current_topic = current_topic
    
    def Cur_topic(self):
        print("Current topic discussed in class is ", self.current_topic)
        
    def str_rollno(self):
        
        try:
            if type(self.rollno) == str:
                print("Do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print("this is my error message",e)
    
    def duration(self,current_date):
        print ("Duration of student in classes ",current_date - self.joining_date)
    
    def __str__(self):
        return "this is Student class"

In [28]:
s1 = Student("Sharim",1322,2002,"Data Science")

In [29]:
print(s1)

this is Student class

In [30]:
s1.name

'Sharim'

In [31]:
s1.duration(2004)

Duration of student in classes  2

In [32]:
s1.str_rollno()

'1322'

In [33]:
s1.current_topic

'Data Science'

In [34]:
s1.Cur_topic()

Current topic discussed in class is  Data Science

In [35]:
class Calculator:
    
    def __init__(self,a,b):
        self.a = a
        self.b = b
        
    def sum(self):
        return self.a + self.b
    
    def subtract(self):
        return self.a - self.b
    
    def mul(self):
        return self.a * self.b
    
    def div(self):
        return self.a / self.b
    
    def __str__(self):
        return "This is a Calculator"

In [36]:
c=Calculator(8,4)

In [37]:
print(c.sum())

12

In [38]:
print(c.subtract())

4

In [39]:
print(c.mul())

32

In [40]:
print(c.div())

2.0

In [41]:
# Defaullt Constructor

class Student:
    
    def who(self):
        print("i am a student")

In [42]:
s1=Student()

In [43]:
s1.who()

i am a student

In [44]:
# This is called as a Non parametized constructor
class Company:
    
    def __init__(self): 
        self.name = "Ineuron"
        self.address = "Bangalore"
    
    def show(self):
        print("Name",self.name, "address",self.address)

In [45]:
cmp=Company()

In [46]:
cmp.show()

Name Ineuron address Bangalore

In [47]:
#parametized Constructor

In [48]:
#Encapsulation

class Pub_mod:
    
    def __init__(self,name,age):
        self.name = name
        #self._name = name ---> In that  _ means it is a protected member ---> access within class and subclass
        #self.__name = name ---> In that __means it is a private ---> access only within a class
        self.age = age
        
    def age1(self):
        print("age",self.age)

In [49]:
c1=Pub_mod("Sharim",22)

In [50]:
c1.age1()

age 22

In [61]:
class Rectangle:
   # __length = 0
   # __breadth = 0
    
    def __init__(self):
        self.length=5
        self.__breadth=3
        
        print(self.length)
        print(self.__breadth)
    
    def show(self):
        print("this is printing private variable",self.__breadth)
        

rect = Rectangle()
print(rect.length)
print(rect.__bredth)

5
3
5

AttributeError: 'Rectangle' object has no attribute '__bredth'

In [60]:
rect.show()  # to access a private varible create a method show

this is printing private variable 3

In [62]:
# to access a private varible outside the class the syntax is 
# Sytanx to access private and procted varible 
## this is for private ===> obejct_Name--> dot ---> single underscore --> class_Name--> varible name
## this is for protected ===> obejct_Name--> dot --> varible name
rect._Rectangle__breadth

3

In [66]:
class test:
    
    def __init__(self):
        self.a = 6
        self._b = 5
        self.__c = 8
        
        print("self",self.a,"protected",self._b,"private",self.__c)

In [68]:
t1=test()

self 6 protected 5 private 8

In [69]:
t1.a

6

In [70]:
t1.b

AttributeError: 'test' object has no attribute 'b'

In [71]:
t1.c

AttributeError: 'test' object has no attribute 'c'

In [77]:
class test:
    
    def __init__(self):
        self.a = 6
        self._b = 5
        self.__c = 8
        
        print("public",self.a,"protected",self._b,"private",self.__c)
        
    def show(self):
        print("protected:",self._b,"private:",self.__c)

In [78]:
t2 = test()

public 6 protected 5 private 8

In [79]:
# this is one way to accessing private and procted data
t2.show()

protected: 5 private: 8

In [82]:
t2._b

5

In [86]:
t2._test__c

8

In [ ]:
class Types:
    def __init__(self,branch,)